# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
build/
dist/
.next/
out/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / IDE
.DS_Store
*.swp
*.swo
*.log
.vscode/
.idea/

# Others
uploads/
